{% extends 'base.html' %}

{% block title %}
    <title>Portal - Home</title>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-7" id="home">
        <h1>Student Main Portal</h1>
        <p>Musoye Student Portal registration,join us today for your online courses</p>
        <button  type="button" class="btn btn-default btn-success btn-sm next"><a href="{{ url_for('portal') }}">Get Started</a></button>        
    </div>
    <div class="col-md-4"><img src="{{ url_for('static', filename='images/homepage.svg') }}" alt=""></div>
</div>
{% endblock %}
